@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Neucha');

body {
  font-family:'Neucha', cursive;
  height: auto;
}

header {
  height: auto;
}

nav {
  font-family:'Arvo', sans-serif;
}


h1 {
  font-family:'Arvo', serif;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 35px;
  color: #ec6d6a;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  transition: 1500ms ease;
  background-color: rgb(240,240,240);
  width: 100%;
  z-index: 9999;
}

.navbar.scrolled {
  background-color: rgba(240,240,240,0.8);
}

.logo-nav {
  margin-bottom: 10px;
  width: 192.5px;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  font-size: 24px;
}

/*page accueil*/

.align-home {
  margin-top: 25px;
}

.bloc-wcs > div {
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.bloc-wcs-phenix >div {
  display: flex;
  align-items: center;
}

.img-facade {
  width: 100%;
  border-radius: 15%;
}

.desc-wcs {
  margin: 4% auto;
  align-items: flex-start;
  flex-direction: column;
}

.titre-accueil {
  text-align: center;
  margin-bottom: 2%;
}

.taille-phenix {
  width: 35%;
}

@media screen and (min-width: 768px) {
  .bloc-wcs-phenix {
    display: flex;
    flex-direction: row-reverse;
  }

  .taille-phenix {
    width: 60%;
  }
}

.logo-promo {
  display: flex;
  justify-content: center;
}


/* Index */

h1, h2
{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%
}

.all_the_cards a
{
  text-decoration-color: #ec6d6a;
  color: black;
}

.all_the_cards
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.block_cards
{
  margin-top: 70px;
  width: 250px;
  height: 360px;
  margin: 20px;
  margin-bottom:50px;
  border-top-right-radius:120px 110px;
  border-top-left-radius:120px 110px;
  border-bottom-right-radius:120px 110px;
  border-bottom-left-radius:120px 110px;
  box-shadow: 1px 1px 20px 5px #ec6d6a;
}

.photo_miniature
{
  width: 60%;
  border-radius: 50%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}
.nom_prenom
{
  display: flex;
  justify-content: space-around;
  width: 160px;
  height: 30px;
  margin-left: 42.5px;
  margin-right: 42.5px;
  margin-top: 10px;
}
.prenom
{
  font-size: 25px;
  text-align: center;
  margin-bottom: 1.6px;
  margin-right: -25px;
  margin-right: -25px;
  color: #ec6d6a;
}

.nom
{
  font-size: 25px;
  text-align: center;
  color: #ec6d6a;
  margin-left: 37px;
}


.Citation
{
  width: 200px;
  height: 70px;
  margin-left: 22.5px;
  margin-right: 22.5px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}


@media screen and (max-width: 360px)
{

  .block_cards
  {
    width: 110px;
    height: 200px;
    margin: 15px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 90%;
    margin-left: 5.8px;
    margin-right: 5.8px;
    margin-top: 10px
  }
  .nom_prenom
  {
    width: 90px;
    height: 50px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 20px;
  }
  .Citation
  {
    display: none
  }
  .nom
  {
    display: none;
  }

  .prenom
  {
    font-size: 30px;
    margin-left: -20px;
  }

}


@media screen and (min-width: 361px) and (max-width: 376px)
{
  .block_cards
  {
    width: 140px;
    height: 240px;
    margin: 16px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 15px
  }
  .nom_prenom
  {
    width: 120px;
    height: 70px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 30px;
  }

  .Citation
  {
    display: none
  }

  .nom
  {
    display: none;
  }

  .prenom
  {
    font-size: 35px;
    margin-left: -22px;
  }

}

@media screen and (min-width: 376px) and (max-width: 538px)
{
  .block_cards
  {
    width: 140px;
    height: 240px;
    margin: 20px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 15px
  }
  .nom_prenom
  {
    width: 120px;
    height: 70px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 30px;
  }

  .Citation
  {
    display: none
  }

  .nom
  {
    display: none;
  }

  .prenom
  {
    font-size: 38px;
    margin-left: -22px;
  }

}

@media screen and (min-width: 539px) and (max-width: 556px)
{
  .block_cards
  {
    width: 160px;
    height: 270px;
    margin: 20px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 15px
  }
  .nom_prenom
  {
    width: 120px;
    height: 70px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 30px;
  }
  .Citation
  {
    display: none
  }

  .nom
  {
    display: none;
  }

  .prenom
  {
    font-size: 45px;
    margin-left: -20px;
  }
}

@media screen and (min-width: 557px) and (max-width: 796px)
{
  .block_cards
  {
    width: 230px;
    height: 350px;
    margin: 20px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px
  }
  .nom_prenom
  {
    display:flex;
    width: 200px;
    height: 100px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 40px;
  }
  .Citation
  {
    display: none
  }

  .nom
  {
    font-size: 27px;
    margin-left: 13px;
  }

  .prenom
  {
    font-size: 27px;
  }
}

@media screen and (min-width: 797px) and (max-width: 1180px)
{
  .block_cards
  {
    margin: 70px;
  }

  .nom
  {
    font-size: 25px;
    margin-left: 37px;
  }

  .prenom
  {
    font-size: 25px;
  }
}

.image_groupe
{
  width: 65%;
  margin: 0% 17.5% 5% 17.5%;
  border-radius: 15%;
}

/* Details */

.details {
  text-align: center;
}

.details-card {
  position: relative;
  width: 90%;
  margin-left: 6%;
  margin-bottom: 2%;
  border-top-right-radius:120px 110px;
  border-top-left-radius:120px 110px;
  border-bottom-right-radius:120px 110px;
  border-bottom-left-radius:120px 110px;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  text-align: left;
}

.img-details {
  position: relative;
  width: 50%;
  height: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50%;
  padding: 0;
  box-shadow: 1px 1px 20px 8px grey;
}

.details-desc {
  margin-top: 10%;
}

.list-desc {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(150,150,150);
}

.bio {
  margin-left: 0%;
  margin-bottom: 10%;
  text-align: center;
}


.btn-retour {
  position: relative;
  margin-bottom: 2%;
}

ul{
  list-style: none;
}

@media screen and (min-width: 576px) {
  .img-details {
    max-width: 20%;
  }

  .bio {
    text-align: justify;
  }
}

/* Form */

.form-contact {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  border-radius: 10px;
}

.form-area {
  padding: 5%;
}

.links {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 6%;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  border-radius: 10px;
}

.btn-form1 {
  margin-left: 37%;
}

.btn-form2 {
  margin-bottom: 4%;
  margin-left:42%;
  margin-top: -3%;
}

.wild-breakfeast {
  padding: 5% 5% 0 5%;
}

@media screen and (min-width: 992px) {
  .form-contact {
    width: 50%;
  }
  .links {
    width: 50%;
  }
}


/* Footer */
.footer-class {
  position: relative;
  background-color: #3B424E;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-decoration: none;
}

.footer-img {
  width: 150px;
}

.footer-align-img {
  margin-top: 1%;
}

@media screen and (max-width: 575px)
{
  .bloc-img {
    display:none;
  }
}

.footer-align {
  margin-top: 2%;
}

.footer-align-propos {
  margin-top: 1%;
}

.footer-align-media {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.footer-align-media > li {
  margin: 0 2%;
}

.footer-list {
  list-style: none;
  text-decoration: none;
}

.footer-list-media {
  text-decoration: none;
}

.footer-style-link {
  color: white;
}
